.treegrid table tr {
  border-left: 3px solid #fff;
}
.treegrid table tr .treegrid-container > a,
.treegrid table tr .treegrid-col-1 > a {
  position: relative;
  padding-left: 30px;
  color: #222d32;
  font-size: 16px;
}
.treegrid table tr .treegrid-container > a:before,
.treegrid table tr .treegrid-col-1 > a:before {
  content: "\f07b";
  position: absolute;
  top: 0;
  left: 2px;
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.treegrid table tr .treegrid-col-1 > a {
  margin-left: 24px;
}
.treegrid table tr td {
  border-top: none;
}
.treegrid table tr .toggle-hover {
  display: none;
}
.treegrid table tr .delete-confirm {
  padding-top: 5px;
  padding-bottom: 5px;
}
.treegrid table tr.current {
  border-left: 3px solid #dd4b39;
}
.treegrid table tr.current > td {
  background-color: #f8f8f8;
}
.treegrid table tr.current > td .treegrid-container > a:before {
  color: #dd4b39;
}
.treegrid table tr.hidden-category .treegrid-container > a,
.treegrid table tr.hidden-category .treegrid-col-1 > a {
  color: #777;
}
.treegrid table tr:hover .toggle-hover {
  display: inline-block;
}
.treegrid table tr.expanded .treegrid-container > a:before {
  content: "\f07c";
}
.treegrid table .treegrid-expander {
  top: -2px;
}
.treegrid table .treegrid-expander-expanded {
  top: 2px;
  left: -3px;
}
/*# sourceMappingURL=main.css.map */