@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
/*
 * Skin: Custom
 * ---------
 */
.skin-custom .main-header .navbar-brand {
  color: #333;
  border-right: 1px solid #111;
}
.skin-custom .main-header .navbar {
  background-color: #222d32;
}
.skin-custom .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-custom .main-header .navbar .nav > li > a:hover,
.skin-custom .main-header .navbar .nav > li > a:active,
.skin-custom .main-header .navbar .nav > li > a:focus,
.skin-custom .main-header .navbar .nav .open > a,
.skin-custom .main-header .navbar .nav .open > a:hover,
.skin-custom .main-header .navbar .nav .open > a:focus,
.skin-custom .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-custom .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-custom .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
  background-color: #d73925;
}
.skin-custom .main-header .navbar > .sidebar-toggle {
  border-right: 1px solid #111;
}
.skin-custom .main-header .navbar .navbar-nav > li > a {
  border-right: 1px solid #111;
}
.skin-custom .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-custom .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid #111;
  border-right-width: 0;
}
@media (max-width: 767px) {
  .skin-custom .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-custom .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-custom .main-header .navbar .dropdown-menu li a:hover {
    background: #d73925;
  }
}
.skin-custom .main-header .logo {
  background-color: #222d32;
  color: #ffffff;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #111;
}
.skin-custom .main-header .logo:hover {
  background-color: #222d32;
}
.skin-custom .main-header li.user-header {
  background-color: #333;
}
.skin-custom .content-header {
  background: transparent;
}
.skin-custom .wrapper,
.skin-custom .main-sidebar,
.skin-custom .left-side {
  background-color: #222d32;
}
.skin-custom .user-panel > .info,
.skin-custom .user-panel > .info > a {
  color: #fff;
}
.skin-custom .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-custom .sidebar-menu > li {
  border-top: 1px solid #1c272c;
}
.skin-custom .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  padding: 10px 5px 10px 15px;
}
.skin-custom .sidebar-menu > li > a > span.menu-label {
  position: relative;
  top: -2px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: .8px;
}
.skin-custom .sidebar-menu > li ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.skin-custom .sidebar-menu > li ul > li > a {
  padding: 8px 5px 8px 20px;
  border-top: 1px dashed #222d32;
}
.skin-custom .sidebar-menu > li ul > li > a > span.menu-label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: .3px;
}
.skin-custom .sidebar-menu > li ul > li:first-child > a {
  border-top: none;
}
.skin-custom .sidebar-menu > li:hover > a,
.skin-custom .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #dd4b39;
}
.skin-custom .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-custom .sidebar a {
  color: #b8c7ce;
}
.skin-custom .sidebar a:hover {
  text-decoration: none;
}
.skin-custom .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-custom .treeview-menu > li.active > a,
.skin-custom .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-custom .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-custom .sidebar-form input[type="text"],
.skin-custom .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-custom .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-custom .sidebar-form input[type="text"]:focus,
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-custom .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .mdi,
.sidebar-menu > li > a > .ion {
  width: 40px;
  font-size: 22px;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .far,
.sidebar-menu > li > a > .fas,
.sidebar-menu > li > a > .fab,
.sidebar-menu > li > a > .fal {
  width: 40px;
  font-size: 19px;
}
.sidebar-menu > li > a > .mdi {
  font-size: 24px;
  left: -2px;
  top: 5px;
  line-height: 10px;
}
.treeview-menu > li > a > .far,
.treeview-menu > li > a > .fas,
.treeview-menu > li > a > .fab,
.treeview-menu > li > a > .fal {
  width: 25px;
}
.sidebar-menu > li > ul.treeview-menu > li > a > .mdi {
  top: 3px;
  margin-right: 10px;
}
.main-header .sidebar-toggle:before {
  content: none;
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper,
  .sidebar-mini.sidebar-collapse .right-side,
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 60px !important;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar {
    width: 60px !important;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 60px;
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 60px;
  }
}
/*# sourceMappingURL=adminlte-skin-custom.css.map */