@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
#sales-overview .name,
#sales-overview .value {
  display: inline-block;
}
#sales-overview .inline-block {
  display: inline-block;
  margin-right: 30px;
}
#sales-overview .info-box,
#sales-overview .info-box-icon {
  min-height: 120px;
}
#sales-overview .info-box-content.no-icon {
  margin-left: 0;
}
#sales-overview .info-box-content table td {
  padding-right: 50px;
}
#sales-overview .info-box-content table tr:not(:last-child) td {
  padding-bottom: 20px;
}
/*# sourceMappingURL=styles.css.map */