@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.multi-calendar:before,
.multi-calendar:after {
  content: " ";
  display: table;
}
.multi-calendar:after {
  clear: both;
}
.multi-calendar {
  margin-left: -15px;
  margin-right: -15px;
}
.multi-calendar:before,
.multi-calendar:after {
  content: " ";
  display: table;
}
.multi-calendar:after {
  clear: both;
}
.multi-calendar:before,
.multi-calendar:after {
  content: " ";
  display: table;
}
.multi-calendar:after {
  clear: both;
}
.multi-calendar .calendar .fc-toolbar {
  padding: 0;
  height: 26px;
}
.multi-calendar .calendar .fc-toolbar h2 {
  font-size: 18px;
  padding-top: 6px;
}
.multi-calendar .calendar .fc-day.selected {
  background-color: #d9edf7;
  border-color: #67cbdf;
}
.multi-calendar .calendar .fc-disabled-day {
  background-color: #eee;
}
.multi-calendar .calendar .fc-corner-left,
.multi-calendar .calendar .fc-corner-right {
  border-radius: 0;
}
#closed-schedule-calendar .fc-bgevent {
  background: #dd4b39;
  opacity: .1;
}
