{% extends ["@templates/email_base.twig", "@phycom/templates/email_base.twig"] %}

{% block title %}
    {{ t('email/password', '{appname}: Password change', {'appname': appname}) }}
{% endblock %}

{% block greeting %}
    {{ t('email/common', 'Hi {firstname},', {'firstname':firstname|e, 'gender': gender}) }}
{% endblock %}

{% block heading %}{% endblock %}

{% block content %}
    <span class="content">
        {{ t('email/password', 'We have received your request to update the password of your user account.') }}
    </span>
    <br/>
    <br/>
    <span class="content">
        {{ t('email/password', 'By clicking on the following link, you are taken to a page on our website, where you can input a new password for your user account.') }}
    </span>
    <br/>
    <br/>
    <span class="content">
        <a href="{{ link }}" target="_blank">{{ link }}</a>
    </span>
{% endblock %}