.ajax-grid {
  position: relative;
}
.ajax-grid .loader {
  display: none;
}
.ajax-grid tr.row-link:hover {
  cursor: pointer;
}
.ajax-grid .loading-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .7;
  background-color: #f3f3f3;
  z-index: 998;
}
.ajax-grid .spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.ajax-grid .spinner span {
  padding: 5px 15px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  color: #666;
  font-weight: bold;
}
